extends layout

block content
    h1 #{title}
    form(method='POST', action='/programs/add')
        #form-group
            label Exercise:
            input.form-control(name='Exercise', type='text' placeholder='Exercise name')
        #form-group
            label Description:
            input.form-control(name='Description', type='text' placeholder='Description of the exercise')
        #form-group
            label Set:
            input.form-control(name='Set', type='text' placeholder='Number of sets')
        #form-group
            label Reps:
            input.form-control(name='Reps/Time', type='text' placeholder='Enter time or reps')
        input.btn.btn-primary(type='submit', value='Submit')

            
